<div class="modal-header">
    <!--<h2 class="discalimer-title pull-left">Dyrct Video</h2>-->
        
    <div class="text-center flyer aboutus-flyer">
        <img alt="flyer" src="assets/img/poster.png" width="200px" height="50px">
    </div>
</div>
<!--<div class="discalimer-wrapper">-->
<!--<div class="discalimer-inner">-->
<div class="container-fluid">
    <div class="row">
        <!--<div class="col-sm-12"></div>-->
        <div class="col-sm-12" >
            <video width="100%" height="450" controls  autoplay>
                <source src="{{dyrctmp4video}}" type="video/mp4">
                <source src="{{dyrctwebmvideo}}" type="video/webm">
                Your browser does not support HTML5 video.
            </video>
        </div>

    </div>
</div>
<div class="modal-footer-new"></div>

<!--</div>-->
<!--</div>-->
<!--<div class="modal-footer">
    <div class="col-sm-12 disclaimer-footer">
        <div class="pull-left">
        </div>
    </div>  
</div>-->