<div class="landingpage">
    <div class="banner">
        <div class="container-fluid">
            <div class="row">
                <div class="bgimg">
                    <div class="dyrct-logo col-xs-12">
                        <img src="assets/img/dyrct-logo-big.png" alt="dyrct">
                    </div>
                    <div class="banner-text col-xs-12">Let your destination find you</div>
                    <div class="banner-buttons col-xs-12">
                        <ul>
                            <li><button class="btn btn-gray blue-btn" id="intro_link">Learn More</button></li>
                            <li><button class="btn btn-gray red-btn" ng-click="signup('signup')">Sign UP</button></li>
                            <li><button class="btn btn-gray black-btn" ng-click="login('login')">Log in</button></li>
                        </ul>
                        <!--<img src="assets/img/video_icon.png" />-->
                        <span class="animation-btn"><a href="javascript:void(0);" title="Play Video" ng-click="openModalvideo()" class="round ani-arrow"><span class="round"><img class="" src="assets/img/dyrctvideo.png" /></span></a></span>
                    </div>
                    <div class="arrow col-xs-12">
                        <a href="javascript:void(0)" class="btn" id="intro_link" ><img src="assets/img/scroll-arrow.png" alt="scroll"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="introduction" id="intro">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 addIcon">


                    <h1>What is DYRCT?</h1>
                    <p>
                        With DYRCT, destination sharing, address finding, navigation and trip management is simple, fast, effective and accurate.
                    </p>
                    <p>
                        DYRCT is a mobile, web and cloud-supported platform, supporting a community of user-managed Connected Identities & Points Of Interest which are easily created, saved and shared - opening the way for unlimited social and business applications.
                    </p>

                    <p>From the simplicty and ease-of-use of our ‘one-touch’ navigation interface to the versatility of our Folders, DYRCT will simplify your life.</p>
                    <!--                        <p>This CiD forms the basis of common-destination user groups and multi-CiD themed folders both of which have wide social networking, travel and business applications.
                                            </p>
                                            <p>Our ‘one-touch’ navigation launch interface avoids the complexity & input inaccuracy typical of traditional navigation devices.
                                            </p>-->
                                            <p>Go Dyrct and let your destination find you.</p>

                                            <div class="row text-center">
                                                <!--<a  class="btn btn-gray btn-more" href="javascript:void(0);" ng-click="openModalvideo()">Show Video</a>-->
                                            </div>

                                            <img src="assets/img/web-icon.png" alt="" class="web-icon">



                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="row text-center store-icons">
                                            <div class="col-md-6">
                                                <div class="pull-right">
                                                    <span><img src="assets/img/apps-store.png" alt=""></span>
                                                    <a href="https://itunes.apple.com/app/id1093452306" target="_blank" title="App Store Icon" class="downloadBtn">Download</a>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="pull-left">
                                                    <span> <img src="assets/img/play-store.png" alt="flyer"/></span>
                                                    <a href="https://play.google.com/store/apps/details?id=com.dyrct.app" target="_blank" title="Play Store Icon" class="downloadBtn">Download
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="features" id="features">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h2>SOME KEY FEATURES</h2>
                                        </div>
                                        <div class="howtouse">
                                            <div class="container">
                                                <div class="row">
                            <!--  <div class="col-xs-12">
                                 <h1>How To Use Dyrct?</h1>
                             </div> -->
                             <h5>Meeting a friend at a new restaurant?</h5>
                             <p>Our address sharing and group invitation functions are what you need. Now you can share more than just your recent holiday photo’s, share your favourite locations too.</p>
                             <h5>Navigating to a new client or helping them find you?</h5>
                             <p>In your own city or far away this can be complex and time-consuming. With Dyrct you can send and receive accurate addresses, manage multiple folders and keep an accurate logbook record of every trip.</p>
                             <h5>Going somewhere?</h5>
                             <p>Save an existing Point of Interest or create your own. Save and share any location from a City Hotel to a farm-gate on a deserted road.</p>
                            <!-- <div class="col-xs-12 padd0">
                                <div class="tabs">
                                    <input type="radio" name="tabs" id="euser-tab1" checked >
                                    <input type="radio" name="tabs" id="buser-tab2">
                                    <input type="radio" name="tabs" id="cuser-tab3">
                                    <div class="labals">
                                        <label for="euser-tab1" ng-class="{'active': tabClass1 }" ng-click="tab('tab1')">
                                            <span>DYRCT for YOU</span>
                                            <i class="tabicon"></i>
                                        </label>

                                        <label for="buser-tab2" ng-class="{'active': tabClass2 }" ng-click="tab('tab2')">
                                            <span>DYRCT for BUSINESS</span>
                                            <i class="tabicon"></i>
                                        </label>

                                        <label for="cuser-tab3" ng-class="{'active': tabClass3 }" ng-click="tab('tab3')">
                                            <span>DYRCT for PLACES</span>
                                            <i class="tabicon"></i>
                                        </label>
                                    </div>



                                    <div id="tab-content1" class="tab-content">
                                        <p><strong>Meeting a friend at a new restaurant, or organizing a social event?</strong> Our address sharing and group invitation functions are what you need. And don’t just share your holiday photo’s – share your destination folder as well.
                                        </p>
                                        <ul>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                        </ul>
                                    </div>
                                    <div id="tab-content2" class="tab-content">
                                        <p><strong>Navigating to a new client or helping them find you?</strong>  In your own city or anywhere internationally - can be complex and time-consuming.With Dyrct you can send and receive accurate addresses, manage multiple address and location and folders and keep an accurate logbook record of every trip.
                                        </p>
                                        <ul>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                        </ul>
                                    </div>
                                    <div id="tab-content3" class="tab-content">
                                        <p><strong>Going somewhere?</strong> Save an existing Point of Interest or create your own. Save and share any location from a City Hotel to a farm-gate on a deserted road.
                                        </p>
                                        <ul>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                        </ul>
                                    </div>
                                </div>




                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 feature-list1">
                    <div class="col-xs-12 col-sm-6">
                        <div class="content-box">
                            <span class="feature-icon cid-icon"></span>
                            <p class="feature-title">Contact</p>
                            <span class="feature-text">
                                <b>Your Connected Identity (Contact) is the key to your Dyrct experience.</b><br>
                                It includes some basic information and a chosen fixed location for you or your business. The Contact is user-created so it is personalised, editable and accurate.</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="content-box">
                                <span class="feature-icon navigate-icon"></span>
                                <p class="feature-title">Navigating</p>
                                <span class="feature-text">
                                    <b>With simple address sharing and one-touch navigation, Dyrct is a powerful navigation tool.</b><br>
                                    Would you like accurate and simple navigating from your mobile device using your preferred mapping software? This is it.</span>
                                </div>
                            </div>
                           </div>
                            <div class="col-xs-12 feature-list2">
                                <!-- <div class="col-xs-12 col-sm-4">
                                    <div class="content-box">
                                        <span class="feature-icon groups-icon"></span>
                                        <p class="feature-title">Groups</p>
                                        <span class="feature-text">
                                            <b>You’re planning a lunch, a meeting or a friendly get together, or perhaps you need to arrange a meeting point for a fan-bus going to the stadium.</b><br>
                                            It’s easy – whatever your plans, decide who you want in the group, add the meeting spot and send ... your invitees can click and they are on their way. No need for lengthy directions and no-one will get lost.</span>
                                        </div>
                                    </div> -->
                                     <div class="col-xs-12 col-sm-6">
                                        <div class="content-box">
                                            <span class="feature-icon cidshare-icon"></span>
                                            <p class="feature-title">Sharing</p>
                                            <span class="feature-text">
                                                <b>Are you still dropping pins, downloading maps and sending directions manually?</b><br>
                                                Keep it simple. With Dyrct, share your location and Points of Interest with just one easy swipe.</span>
                                        </div>
                                      </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="content-box">
                                            <span class="feature-icon folder-icon"></span>
                                            <p class="feature-title">Folders</p>
                                            <span class="feature-text">
                                                <b>You’ve taken the trip of a lifetime to an exotic foreign location, you know all the hotspots and experienced great hotels and restaurants. You know you really have to share this with your friends.</b><br>
                                                Simple! Create a folder, pull in the Contact or Address of every place you visited and share the whole trip!. Send it to a friend, colleague or anyone you’re happy to have in the know. </span>
                                            </div>
                                        </div>
                                        <!-- <div class="col-xs-12 col-sm-4">
                                            <div class="content-box">
                                                <span class="feature-icon logbook-icon"></span>
                                                <p class="feature-title">Logbook</p>
                                                <span class="feature-text">
                                                    <b>Is remembering where you went today, yesterday or last week beyond you? We’re here to help. Using Dyrct, every trip taken is saved allowing you to manage multiple logbooks.</b><br>
                                                    These can be sent to whoever needs to know where you've been.
                                                </span>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="faqs">
                            <div class="container">
                                <div class="row">
                                    <div ng-hide="hidesearch">
                                        <div class="col-xs-12">
                                            <h2>FAQ</h2>
                                        </div>
                                    </div>
                                    <div ng-hide="!hidesearch">
                                        <div class="col-xs-8">
                                            <h2 class="landingpage-searchfaq">FAQ</h2>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <input type="text" name="searchfaq" class="form-control" placeholder="Search" ng-model="search.searchName"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="faq-list">
                                                <uib-accordion>
                                                <uib-accordion-group ng-if="$index < numoffaq" ng-repeat="faq in faqdata|filter:search">
                                                <uib-accordion-heading ng-init="faq.searchName = faq.title">{{faq.title}}</uib-accordion-heading>
                                                <p>{{faq.content}}</p>
                                            </uib-accordion-group>
                                            <div class="homeerror" ng-if="faqdata.length == 0">NO</div>

                                        </uib-accordion>
                                    </div>
                                </div>
                                <div class="landingpage-faq">
                                    <button  class="btn btn-gray btn-more pull-left" ng-hide="numoffaq>=10" ng-click="loadmore()">Load More</button>


                                    <input type="text" ng-model="search" class="btn-search" placeholder="Search FAQ here..">
                                    <button  class="btn btn-gray btn-more pull-right links" id="contactus_link">Need Help?</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="usertip">
                    <div class="container">
                        <div class="row">

                            <div class="col-xs-12">
                                <h2>How To Use Dyrct</h2>
                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="user-tip">
                                        <div class="user-trip-topcontent">

                                            <span class="usertip-text-title">It's all about you!</span>
                                            <p class="usertip-text">And we like it like that – so we have created an App that is fun and easy to use. <br>But in case you're having a bad day, here are some tips to help make your Dyrct experience even better.</p>
                                            </div>
                            <div class="panel-tutorial-slide">
                                <h3 class="text-center">Tutorial Slides</h3>
                                <div class="panel-slide-btn">
                                    <button type="button" class="btn btn-light" id="btnIos" ng-class="{active:tab == 'ios'}" ng-click="selecttab('ios')">iOS</button>
                                    <button type="button" class="btn btn-dark" id="btnAndroid"  ng-class="{active:tab == 'android'}" ng-click="selecttab('android')">Android</button>
                                </div>
                            </div>
                            <div ng-if="tab == 'ios'" owl-carousel items="slides" class="owl-carousel owl-theme" ng-class="{ios:tab == 'ios'}">
                                <div ng-repeat="slide in slidesios"><img ng-src="{{slide.img}}" height="auto"/></div>
                            </div>
				<div ng-if="tab == 'android'" owl-carousel items="slides" class="owl-carousel owl-theme" ng-class="{android:tab == 'android'}">
                                <div ng-repeat="slide in slidesandroid"><img ng-src="{{slide.img}}" height="auto"/></div>
				</div>
                            <uib-accordion class="ui-accordian">
<!--                            <uib-accordion-group>
                            <uib-accordion-heading class="usertip-text">Action Buttons</uib-accordion-heading>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="img"><img src="assets/img/ui-action-btn-img.png" width="92px" height="92px" /></p>
                                        <p class="content">Various action buttons are available to enable you to make the most use of your App.These include Share, Invite, Delete, Move and Edit.</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="img"><img src="assets/img/ui-action-btn-img.png" width="92px" height="92px" /></p>
                                        <p class="content"><img src="assets/img/ios.png"/>Swipe iOS devices, these actions appear when you swipe either L-to-R or R-to-L on various CiD, Contact, POI or Folders. The appropriate action button will appear.</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="img"><img src="assets/img/ui-action-btn-img.png" width="92px" height="92px" /></p>
                                        <p class="content"><img src="assets/img/android.png"/> Long press Android devices, these actions appear when you long-press on the 3 dots in the various CiD,Contact, POI or Folders. A sub-menu will appear from which the appropriate action can be chosen.</p>
                                    </div>
                                </div>
                            </uib-accordion-group>-->
                            <uib-accordion-group>
                            <uib-accordion-heading class="usertip-text">Icon Explanation</uib-accordion-heading>
                                <ul class="icon-explant">
                                    <li><span class="icon"><img src="assets/img/icon-open-menu.png"  width="60" height="60"></span> <span class="content">Opens the main menu.</span></li>
                                    <li><span class="icon"><img src="assets/img/icon-edit.png"  width="60" height="60"></span> <span class="content">Edit the section you are currently in.</span></li>
                                    <li><span class="icon"><img src="assets/img/icon-done.png"  width="60" height="60"></span> <span class="content">Save the section you have just actioned or edited.</span></li>
                                    <li><span class="icon"><img src="assets/img/icon-location.png" width="60" height="60"></span> <span class="content">Open in map-view.</span></li>
                                    <li><span class="icon"><img src="assets/img/icon-forma.png"  width="60" height="60"></span> <span class="content">Open in list-view.</span></li>
                                    <li><span class="icon"><img src="assets/img/icon-flag.png"></span> <span class="content">Signifies a trip which has been ended and can be exported.</span></li>
                                    <li><span class="icon"><img src="assets/img/icon-move-file.png" width="60" height="60"></span> <span class="content">Selection option for populating Logbook categories.</span></li>
                                    <li><span class="icon"><img src="assets/img/icon-destination.png" width="60" height="60"></span> <span class="content">Opens destination selection in Groups invitation.</span></li>
                                    <li><span class="icon"><img src="assets/img/icon-group-admin.png"></span> <span class="content">Signifies you are the creator of a particular Group.</span></li>
                                    <li><span class="icon"><img src="assets/img/icon-add-btn.png" width="60" height="60"></span> <span class="content">Create a new Contact or Address.</span></li>
                                </ul>
                        </uib-accordion-group>
                        <uib-accordion-group>
                        <uib-accordion-heading class="usertip-text">General User Tips</uib-accordion-heading>
                        <ul class="general-user-tips">
                            <li> <span>Your user profile is visible to all your contacts and will also be visible when they share it with others. To protect your privacy it is only necessary to add your name to your profile. Optional settings allow you to add your home or work address as well as other information - these details will then also be visible. This is particularly useful if you want other users to easily navigate to you.</span></li>
<!--                            <li><span>As an additional privacy measure, rather select your office as your Contact address and make a Address for your home address and only share it with people you wish to share with.</span></li>-->
                            <li><span>Be sure to end your trips after you have finished them – this must be done in the APP (you probably left your App open on the navigation launch screen). Ending a trip allows an accurate trip record to be created and exported.</span></li>
                            <li><span>Dyrct imports your contacts from your mobile device - with your permission of course. However you will still need to INVITE those contacts to join Dyrct if they are not already on Dyrct. This can be done in SETTINGS.</span></li>
                            <li><span>Folders are incredibly useful and we know you will create many of them and share them with everyone. We suggest taking care when naming them so you can archive them easily. Folder names are editable.</span></li>
                            <li><span>If you are creating multiple Address or many Folders we suggest you do this from the website as it may be easier and quicker.</span></li>
                            <li><span>You can invite a contact to a specific location without making a Address by simply selecting INVITE alongside their name. This allows you to create a meeting location to send to that contact. The default is your current location.</span></li>
                        </ul>
                    </uib-accordion-group>
                </uib-accordion>
                            <!--                            <p class="usertip-text"><strong class="usertip-text-title" ng-click="toggleaction()">Action Buttons:</strong></p>
                                                        <p class="usertip-text" ng-hide="!actionbutton">Various action buttons are available to enable you to make the most use of your App.These include Share, Invite, Delete, Move and Edit.<br><br>
                                                            On iOS devices, these actions appear when you swipe either L-to-R or R-to-L on various CiD, Contact, POI or Folders. The appropriate action button will appear.<br><br>
                                                            On Android devices, these actions appear when you long-press on the 3 dots in the various CiD,Contact, POI or Folders. A sub-menu will appear from which the appropriate action can be chosen.<br><br></p>
                                                        <p class="usertip-text"><strong class="usertip-text-title" ng-click="toggleicon()">Icon Explanation</strong></p>
                                                        <p class="usertip-text" ng-hide="!iconbutton">
                                                            <i class="fa fa-bars" style="color: #FFFFFF;"></i> – Opens the main menu.<br><br>
                                                                <img src="assets/img/icon/edit.png"  width="16" height="16">  -  Edit the section you are currently in.<br><br>
                                                                <img src="assets/img/icon/tick.png"  width="16" height="16">  -  Save the section you have just actioned or edited.<br><br>
                                                                <img src="assets/img/icon/plus.png" width="16" height="16">  -  Create a new Contact or POI.<br><br>
                                                                <img src="assets/img/icon/poilist.png" width="16" height="16">  -  Open in map-view.<br><br>
                                                                <img src="assets/img/icon/poimap.png"  width="16" height="16">  -  Open in list-view.<br><br>
                                                                <img src="assets/img/icon/flag.png">  -  Signifies a trip which has been ended and can be exported.<br><br>
                                                                <img src="assets/img/icon/logbook.png" width="16" height="16">  -  Selection option for populating Logbook categories.<br><br>
                                                                <img src="assets/img/icon/groupinvitation.png" width="16" height="16">  -  Opens destination selection in Groups invitation.<br><br>
                                                                <img src="assets/img/icon/admin.png">  -  Signifies you are the creator of a particular Group.<br>

                                                        </p>
                                                        <p class="usertip-text"><strong class="usertip-text-title" ng-click="togglegeneral()">General User Tips</strong></p>
                                                        <p class="usertip-text" ng-hide="!generalbutton">
                                                                <i class="fa fa-arrow-circle-right fa-1x" style="color: #FFFFFF;"></i>   Each user must have a CiD - this is a necessary part of joining Dyrct.  It is always visible - to anyone you share it with and also when they share it with others. If you are concerned about your privacy you can de-select 'Show Profile' in SETTINGS - this will allow you to have full app functionality however no other users will be able to see you.<br><br>
                                                                <i class="fa fa-arrow-circle-right fa-1x" style="color: #FFFFFF;"></i>   As an additional privacy measure, rather select your office as your CiD address and make a POI for your home address and only share it with people you wish to share with.<br><br>
                                                                <i class="fa fa-arrow-circle-right fa-1x" style="color: #FFFFFF;"></i>   Be sure to end your trips after you have finished them – this must be done in the APP (you probably left your App open on the navigation launch screen). Ending a trip allows an accurate trip record to be created and exported.<br><br>
                                                                <i class="fa fa-arrow-circle-right fa-1x" style="color: #FFFFFF;"></i>   Dyrct imports your address book from your mobile device – with your permission of course – so if another user is not in your address book you may not see their CiD. Simply add them as a contact and Sync your contacts (in SETTINGS).<br><br>
                                                                <i class="fa fa-arrow-circle-right fa-1x" style="color: #FFFFFF;"></i>   Folders are incredibly useful and we know you will create many of them and share them with everyone. We suggest taking care when naming them so you can archive them easily. Folder names are editable.<br><br>
                                                                <i class="fa fa-arrow-circle-right fa-1x" style="color: #FFFFFF;"></i>   If you are creating multiple POIs or many Folders we suggest you do this from the website as it may be easier and quicker.<br>
                                                            </p>-->

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="contactus" id="contactus">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h2>Contact Us</h2>
                                                </div>
                                                <div class="col-sm-8 form-block">
                                                    <p style="margin-left: 6px;">It’s easy - fill in the form and we’ll get back to you directly.</p>
                                                    <form novalidate id="contactusform" name="contact" ng-submit="contactus()">
                                                        <div class="row form-block-row">
                                                            <div class="col-sm-6 firstname">
                                                                <div class="form-group">
                                                                    <input name="firstname" placeholder="First name" class="form-control" ng-class="{'error':(contact.firstname.$dirty && contact.firstname.$invalid)}" ng-model="firstname" type="text" required >
                                                                    <label for="firstname">First Name</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 lastname">
                                                                <div class="form-group">
                                                                    <input name="lastname" placeholder="Last name" class="form-control" ng-class="{'error':(contact.lastname.$dirty && contact.lastname.$invalid)}" ng-model="lastname" type="text" required>
                                                                    <label for="lastname">Last Name</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <input name="email" placeholder="Email" class="form-control" ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/" ng-class="{'error':(contact.email.$invalid && contact.email.$dirty)}" ng-model="email" type="text" required>
                                                                    <label for="email">Email</label>
                                                                    <span  ng-show="emailerror" class="text text-danger">Invalid E-mail Id</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="form-group textareabox">
                                                                    <textarea name="comment" class="form-control" placeholder="Your message here" ng-model="comment" maxlength="150" required></textarea>
                                                                    <label for="yourwordhere">Your message here</label>
                                                                </div>
                                                            </div>
                                                            <button type="submit" ng-disabled="!contact.$valid" class="btn flyericon"></button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-sm-4 social-links">
                                                    <p></p>
                                                    <ul>
                                                        <li><a class="btn sicons facebook-icon" title="Facebook" href="https://www.facebook.com/goDYRCT" target="_blank"></a></li>
                                                        <li><a class="btn sicons twitter-icon" title="Twitter" href="https://twitter.com/dyrct?lang=en" target="_blank"></a></li>
                                                        <!--<li><a class="btn sicons goolgeplus-icon" titel="Google+"  href="http://www.google.com" target="_blank"></a></li>-->
                                                        <li><a class="btn sicons instagram-icon" title="Instagram" href="https://www.instagram.com/dyrct_sa/?hl=en" target="_blank"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <div class="container-fluid"></div>
                                    <footer class="footer">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-3 callus">
                                                    <div class="col-sm-12 padd0">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 callus">
                                                    <div class="col-sm-12 padd0">
                                                    </div>
                                                </div>
                                                <div class="col-sm-1 callus">
                                                    <div class="col-sm-12 padd0">
                                                        <button  class="btn btn-gray btn-more" ng-click="disclaimer()">Disclaimer</button>
                                                        <!-- <p ng-click="disclaimer()" style="cursor: pointer;">Disclaimer</p>-->

                                                    </div>
                                                </div>
                                                <div class="col-sm-6 copyright clearfix">
                                                    <div class="col-sm-12 padd0"><a class="footer-logo"></a></div>
                                                    <div class="col-sm-12 padd0"><p style="font-size: 12px;">This website and its content is copyright of Dyrct - &COPY; Dyrct 2016. All rights are reserved.</p></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 copyright clearfix"></div>
                                            </div>
                                        </div>
                                    </footer>
                                </div>

