   <div id="welcome">       
    <!-- modal header -->
    <div class="modal-header text-center">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="welcomeTitle" id="myModalLabel">WELCOME</h3>
        <h5>You are now ready to use DYRCT </h5>


    </div>

    <!-- modal content -->
    <div class="modal-body text-center">
        <img src="assets/img/world-map.png" alt="">
        <p class="padd-lt-rt">
            The power of Dyrct is about being able to share single addresses and
            multi-location folders with single or many users. Sharing is what makes
            your Dyrct experience - so your first step is to make sure you have
            people to share with. </p>



        </div>
        <!-- modal footer -->
        <button type="button" class="btn-red" ng-click="cancel()">Let's start </button>
    </div>

</div>