<input type="search" name="" id="" placeholder="Search here.." ng-model="search.searchName" class="ng-hide">
<div class="tab-block">
    <div class="row">
        <div class="col-md-3 col-sm-1 hidden-xs">
            <a href="javascript:void(0)" class="logBook-small">Categories</a>
        </div>
        <div class="col-md-5 col-sm-8 col-xs-12 text-center tabs-middle">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ><a ui-sref="common.logbook" aria-controls="home" role="tab" data-toggle="tab" analytics-on="click" analytics-event="Logbook" analytics-category="Logbook Usage" analytics-label="Logbook Usage">Recent Trips</a></li>
                <li role="presentation" class="active"><a ui-sref="common.categories" aria-controls="profile" role="tab" data-toggle="tab">Categories</a></li>

            </ul>
        </div>
        <div class="col-md-4 col-sm-3 col-xs-2 text-right buttonbox-right home">
            <button data-dismiss="modal" class="btn btn btn-danger small-btn" title="Create New Category" type="button" ng-disabled="catdisabled" ng-click="createnewcategory(false)">
                <span class="btn-text">Create New</span>
                <i class="glyphicon glyphicon-plus"></i>
            </button>
            <button data-dismiss="modal" title="Export Logbook CSV" class="btn btn btn-danger small-btn" type="button" ng-click="openModalExportCsv('categories')">
                <span class="btn-text">Export</span>
                <i class="glyphicon glyphicon-export"></i>
            </button>
            <button data-dismiss="modal" title="Select Logbook" class="btn btn btn-danger small-btn" type="button" ng-hide="showme" ng-disabled="showmee">
                <span class="btn-text">Move</span>
                <i class="glyphicon glyphicon-ok"></i>
            </button>
            <button class="btn btn btn-danger small-btn" title="Move Logbook" ng-click="openModalshare('category')" ng-hide="!showme">
                <span class="btn-text">Move</span>
                <i class="glyphicon glyphicon-move"></i>
            </button>
        </div>
        
    </div>
</div>
<div class="clearifx"></div>
<div class="createcategory clearfix" ng-hide="cathide">
    <div class="pull-left">
        <h4 class="panel-title log-icon-category">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="" aria-expanded="true" aria-controls="collapseOne" class="">
                <input type="text" ng-model="categoryname" placeholder="Create New Category" name="categoryname" class="textcategory">
            </a>
        </h4>
    </div>
    <div class="pull-right">
        <button data-dismiss="modal" class="btn btn btn-sucess small-btn-sucess" title="Save Category" type="button" ng-click="savenewcategory()">Save</button>
        <button data-dismiss="modal" class="btn btn btn-danger small-btn" title="Cancel Category" type="button" ng-click="createnewcategory(true)">Cancel</button>
    </div>
</div>
<div class="right-col logbook-categories">

    <div class="wideColume col-md-12" id="boxscroll2" getheight="getcategorylist">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="home">

            </div>
            <!-- tab content2 -->
            <div role="tabpanel" class="tab-pane active" id="profile">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div ng-init="categorylist.parentid=$index" class="panel panel-default" ng-repeat="categorylist in getcategorylist| filter:search">
                        <div class="panel-heading" role="tab" id="headingOne" >
                            <h4 class="panel-title log-icon2">
                                <a role="button" ng-click="toggleselect($index)" data-toggle="collapse" data-parent="#accordion" href="" aria-expanded="true" aria-controls="collapseOne" class="">
                                    <input type="text" name="cate" ng-readonly="readonly[$index]" class="texteditcategory" ng-model="categorylist.category_name" ng-init="categorylist.searchName = categorylist.category_name" ng-change=" categorylist.category_name = limitChar(categorylist.category_name);" >
                                    <!--                                    <i class="indicator ac-arrow-active pull-right" ng-show="active[$index]" ></i>
                                        <i class="indicator ac-arrow pull-right" ng-show="!active[$index]"></i>-->
                                </a>
                                <div class="group-btn pull-right">
                                    <button type="button" class="btn btn-gray small-btn-sucess" ng-init="categorylist.edit = false" ng-show="categorylist.edit"  ng-click="saveeditcategory(categorylist, $index, categorylist)">Save</button>
                                    <button type="button" ng-hide="categorylist.edit" class="btn btn-gray edit edit2" ng-click="editcategory(categorylist._id, $index, categorylist)"></button>
                                    <button type="button" class="btn btn-gray delete" ng-click="deletecategory(categorylist._id, $index, categorylist.category_name)"><i class="glyphicon glyphicon-trash" ></i> </button>
                                </div>
                            </h4>
                        </div>
                        
                        <div id="collapseOne" class="panel-collapse collapse" ng-class="{'in':in[$index]}" role="tabpanel" aria-expanded="true">
                            <div class="homeerror" ng-if="categorylist.logbooklist.length == 0">No records found.</div>
                            <div class="panel-body paddTop0">

                                <ul class="listing" >
                                    <!--                                <li ng-repeat="logbook in categorylist.logbooklist">
                                                                        {{logbook}}
                                                                    </li>-->
                                    <li  class="clearfix" ng-repeat="logbook in categorylist.logbooklist">
                                        <div class="pull-left usernames">{{logbook.title}}<span>{{logbook.expected_address}}</span></div>
                                        <div class="pull-right">
                                            <a ui-sref="common.tripdetail({id:logbook._id})" ng-if="logbook.trip_status == 'end'"><button type="button" title="Show" class="btn btn-gray viewBtn">SHOW <i class="glyphicon glyphicon-eye-open"></i></button></a>
                                            <input  id="boxlogbook{{$index + ''+categorylist.parentid+'logbook'}}" class="checkBox" type="checkbox" value="{{logbook._id}}"  name="boxlogbook" ng-change="checkedItems(logbook._id,logbook.category_id)" ng-checked="logbook.checked" ng-model="logbook.checked" />
                                            <label for="boxlogbook{{$index + ''+categorylist.parentid+'logbook'}}" class="pull-right"></label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <li class="homeerror" ng-if="!resultflag || getcategorylist.length == 0">No records found.</li>
                </div>
            </div>


        </div>
        <!-- persnal detail -->
    </div>
</div>

<!-- /container -->
<!-- share modal -->
<div class="modal fade share" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- modal header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Share</h3>
                <div class="titleBlock m-top20">
                    <div class="row">
                        <div class="col-md-6">Select Contacts</div>
                        <div class="col-md-6 text-right">
                            <input type="text" name="" id="" placeholder="Search here..">
                            <a href="javascript:void(0)">Select all</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal content -->
            <div class="modal-body" id="boxscroll3">
                <form action="" class="">
                    <div class="row formField">
                        <ul class="listing listing2">
                            <li class="clearfix">
                                <div class="imgBlock pull-left"><img src="img/andrew.jpg" height="45" width="45" alt=""></div>
                                <div class="pull-left usernames">Andrew Tucker</div>
                                <div class="pull-right">
                                    <input id="box01" class="checkBox" type="checkbox">
                                    <label for="box01"></label>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="imgBlock pull-left"><img src="img/andrew.jpg" height="45" width="45" alt=""></div>
                                <div class="pull-left usernames">Andrew Tucker</div>
                                <div class="pull-right">
                                    <input id="box02" class="checkBox" type="checkbox">
                                    <label for="box02"></label>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="imgBlock pull-left"><img src="img/andrew.jpg" height="45" width="45" alt=""></div>
                                <div class="pull-left usernames">Andrew Tucker</div>
                                <div class="pull-right">
                                    <input id="box03" class="checkBox" type="checkbox">
                                    <label for="box03"></label>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="imgBlock pull-left"><img src="img/andrew.jpg" height="45" width="45" alt=""></div>
                                <div class="pull-left usernames">Andrew Tucker</div>
                                <div class="pull-right">
                                    <input id="box04" class="checkBox" type="checkbox">
                                    <label for="box04"></label>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="imgBlock pull-left"><img src="img/andrew.jpg" height="45" width="45" alt=""></div>
                                <div class="pull-left usernames">Andrew Tucker</div>
                                <div class="pull-right">
                                    <input id="box05" class="checkBox" type="checkbox">
                                    <label for="box05"></label>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="imgBlock pull-left"><img src="img/andrew.jpg" height="45" width="45" alt=""></div>
                                <div class="pull-left usernames">Andrew Tucker</div>
                                <div class="pull-right">
                                    <input id="box06" class="checkBox" type="checkbox">
                                    <label for="box06"></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <!-- modal footer -->
            <div class="modal-footer mdBdr-none">
                <div class="row">
                    <div class="col-md-3">
                        <p>Selected <strong>7 Contacts</strong></p>
                    </div>
                    <div class="col-md-9">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>