          
<!-- modal header -->
<div class="modal-header custome-style">
    <!--<button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
    <div class="row">
        <div class="col-md-12 text-center">
            <span><i class="fa fa-folder fa-2x"></i></span>       
        </div>
    </div>
</div>

<!-- modal content -->
<div class="modal-body custome-style">
    
        <div class="formField">
            <p ng-if="flag">Folder already exist</p>            
            <p ng-if="!flag">Folder successfully saved</p>            
        </div>
    
</div>

<!-- modal footer -->
<div class="modal-footer mdBdr-none custome-style save-folder">
    <div class="row">       
        <button type="button" class="btn btn-default" ng-if="flag" ng-click="saveFolder(folder_id,folder_name,created_owner_id,'replace')">Replace</button>
        <button type="button" class="btn btn-default" ng-if="flag" ng-click="saveFolder(folder_id,folder_name,created_owner_id,'keep_both')">Keep Both</button>
        
        <button type="button" class="btn btn-danger" ng-if="!flag" ng-click="saved()">Ok</button>            
    </div>

    <div class="row" ng-if="flag">        
        <button type="button" class="btn btn-danger save-folder-btn" ng-if="flag" ng-click="cancel()">Cancel</button>
    </div>
</div>


